<a href="https://colab.research.google.com/github/diegortiz6685/Portafolio/blob/main/U7Sesion_5_Ejercicios_80772700.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICIO 1: DataFrame

In [ ]:
import pandas as pd

estudiantes = {"NOMBRE":["Carlos Alvarez","Camilo Moreno","Diego Ortiz","Jorge Ramirez"],"EDAD":[17,15,16,17], "CALIFICACION":[4.5,3.5,5.0,2.8]}
estudiantes_df = pd.DataFrame(estudiantes)
estudiantes_df

EJERCICIO 2: Manipulación básica con Pandas

In [ ]:
import pandas as pd

#Crear DataFrame:
nombre = ["Camilo Perez","Diego Ortiz","German Hernandez","Diana Diaz"]
edad = [23,32,18,26]
ciudad = ["Bogota","Medellin","Cali","Barranquilla"]
datos = {"Nombre":nombre,"Edad":edad,"Ciudad":ciudad}
datos_df = pd.DataFrame(datos)
print("DataFrame Original:\n")
print(datos_df)

#Filtro MAyores de 25:
datos_25_df = datos_df[datos_df["Edad"]>25]
print("\nMayores de 25:\n")
print(datos_25_df,"\n")

#Agregar Columna y Categorizar:
datos_df["Categoria"] = ""

for index, row in datos_df.iterrows():
    if row["Edad"] < 25:
        datos_df.loc[index, "Categoria"] = "Joven"
    else:
        datos_df.loc[index, "Categoria"] = "Adulto"
print("\nDataFrame con nueva columna:\n")
datos_df

EJERCICIO 3: Operación Básica con NumPy

In [ ]:
import numpy as np

#Crear lista llamada vector
vector = [1,2,3,4,5]
print("\nVector\n",vector,"\n")

#Calcular media y desviación estandar de vector
promedio = np.mean(vector)
desviacion_estandar = np.std(vector)
print("El promedio de vector es:",promedio)
print("La desviación estandar de vector es:",desviacion_estandar)

#Crear matriz con 3 filas y 2 columnas llena de numeros aleatorios de 1 a 10
matriz = np.random.randint(0,10,size=(2,3))
print("\nMatriz Creada\n",matriz)

#Multiplicar elementos de matriz x2
matriz_x2 = matriz * 2
print("\nMatriz x2\n",matriz_x2)

EJERCICIO 4: Programa Pandas

In [ ]:
import pandas as pd

sepal_lenght = [5.1,7.0,6.3,4.9,5.5,3.5,4.1,6.8,7.2]
sepal_width = [3.5,3.2,3.3,2.4,2.9,3.4,2.7,2.8,3.3]
petal_lenght =[1.4,4.7,6.0,3.3,5.5,4.8,3.9,4.2,1.9]
petal_width = [0.2,1.4,2.5,1.0,1.8,2.3,1.9,2.2,1.3]
species = ["Setosa","Versicolor","Virginica","Versicolor","Setosa","Virginica","Virginica","Setosa","Versicolor"]
iris = {"Long. Sépalo":sepal_lenght,"Ancho Sépalo":sepal_width,"Long. Pétalo":petal_lenght,"Ancho Pétalo":petal_width,"Especie":species}
iris_df = pd.DataFrame(iris)
print("DataFrame Original\n")
print(iris_df)

#Mostrar 5 primeras filas
print("\n5 primeras filas\n")
print(iris_df.head(5))

#Filtrar filas con Iris Setosa
df_iris_setosa = iris_df[iris_df["Especie"]=="Setosa"]
print("\nEspecie Iris Setosa\n")
print(df_iris_setosa)

promedio_setosa = df_iris_setosa["Long. Sépalo"].mean()
print("\nLa longitud promedio del Sépalo en la especie Iris Setosa es", promedio_setosa,"\n")

EJERCICIO 5: Concatenación de DataFrames

In [ ]:
import pandas as pd

df1 = pd.DataFrame({"A":[1,2,3],"B":[4,5,6],"C":[7,8,9]})
df2 = pd.DataFrame({"A":[10,11,12],"B":[13,14,15],"C":[16,17,18]})

df_concat = pd.concat([df1,df2],ignore_index=True)
print(df_concat)